/* 既存のスタイルはそのまま */

.rc-slider-handle {
  width: 28px; /* 画像に合わせてサイズ調整 */
  height: 28px;
  top: -5px;
  background-image: url("./assets/heart-removebg-preview.png"); /* heart.jpgを背景画像として指定 */
  background-size: cover; /* 画像をハンドルにフィットさせる */
  background-color: transparent; /* 背景色を透明にして画像だけ表示 */
  border: none; /* 境界線を非表示 */
  position: relative; /* 子要素の位置を制御するために追加 */
}

/* ハンドル上に数値を表示するスタイルを追加 */
.rc-slider-handle::after {
  content: attr(aria-valuenow); /* ハンドルの現在の値を表示 */
  position: absolute;
  top: 7px; /* 数値の垂直位置を調整 */
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff; /* 文字色を白に設定 */
  font-size: 13px;
  font-weight: bold;
}
